html{
    overflow-y: scroll ;
    height: auto ;
    min-height: 100vh ;
}
#root{
    min-height: 100vh;
}
body{
    background: #e6deb9;
    background:linear-gradient(
        to right,
        rgb(229, 220, 136),
        #e6deb9,
        rgb(229, 220, 136)
        
    );
    margin: 0;
    min-height: 100vh;
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-bottom: 3em;
    padding-top: 3em; 

}
.header{
    border-radius: 20px;

}
/*Ime aplikacije*/
.naslov{
    color:rgb(90, 89, 89);
    font-size: 5em;
    
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
/*Opisni tekst*/
.opis{
    border: 1px;
    border-radius: 10px;
    border-color: solid black;
    font-size: 2em;
    text-align: center;
    word-wrap: break-word;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
/*Gumb za prijavu*/
.profilbutton{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
    width: 8em;
    height: 2em;
    align-items: center;
    cursor: pointer;
    background-color: rgb(241, 190, 94);
    border-radius: 15px;
    letter-spacing: 2px;
    border-color: #e8c631;
    box-shadow: 0 5px 10px rgba(255, 123, 0, 0.2);

}.profilbutton:hover{
    background-color: rgb(225, 197, 146);
    transform: scale(1.15);
}

/*Opis aplikacije*/

.uputstva{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
    
}
.upute, .uputeOpis{
    margin-right: 3em;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 10em;
    background-color: #e6deb9;
    border-radius: 2em;
    width: 200px;
    height: 100px;
    overflow: visible;
    border:3px solid rgb(121, 121, 78);
    display: flex;
    padding-left: 2em;
    padding-right: 2em;
    transition:  0.5s ease-in-out;
    flex-direction: column;
    overflow-wrap: anywhere;
    box-shadow: 0 8px 30px rgba(0,0,0,0.2);
    

}
.upute h1, .uputeOpis h1{
    text-align: center;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
    overflow-wrap: anywhere;
}
.uputeOpis p,
.upute ol,
.upute ul {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  text-align: left;
  padding-left: 1.5em;
}
.upute:hover {
    height: 500px;
    width: 350px;
    transform: scale(1.1);
}

.uputeOpis:hover {
    height: 300px;
    width: 350px;
    transform: scale(1.1);
}
.uputeOpis:hover p,
.upute:hover ol,
.upute:hover ul {
  opacity: 1;
}

.opis-text{
    color: #eeee;
}