html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  border-radius: 0.5vh;
  height: 60vh;
  width: max(70vw, 470px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.answers {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5vw 0.5vh;
  justify-items: center;
}

.answer, .submit-button {
  background-color: #eee;
  padding: 1.5vh 3vw;
  border-radius: 1vh;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center;
  font-size: 1.2em;
  width: max(13vw, 100px);
}

.question{
    font-size: 24px;
    color: black;
    height: max(3vh, 50px);
}

.answer:hover, .submit-button:hover {
  background-color: rgb(255, 140, 0);
}

.answer.selected {
  background-color: #ef5a5a;
  color: white;
}

.first-color { 
	background: #feffdf; 
}
	
.second-color { 
	background: #ffe79a; 
}

.third-color { 
	background: #ffa952; 
}

.fourth-color { 
	background: #ef5a5a; 
}

.back {
  border-radius: 5px;
  width: max(13vh, 90px);
  height: max(5vh, 30px);
  font-size: 1.2em;
}

.result{
    color: black;
    height: 0.5vh;
    font-size: 1.2em;
}
