body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(
        to right,
        rgb(229, 220, 136),
        #e6deb9,
        rgb(229, 220, 136)
        
    );
    min-height: 100vh;
    margin: 0;
}
.containerPostavkeIgre{
    border-radius: 1em;
    width: 30em;
    height: 29em;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    line-height: 0.5em;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: #ffe79a !important;
}
.headerPostavkeIgre{
    font-size: 3em;
    margin-top: 1.5em;
    text-align: center;
    border-radius: 20px;

}
.containerPostavkeIgre p{
    font-size: 1.5em;
}

.submitbutton{
    font-size:1.5em;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.5em;
    height: 2em;
    text-align: center;
    background-color: #ffa952 !important;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border:1px solid black
}
.submitbutton:hover{
    cursor: pointer;
    background-color: #ef5a5a !important;
}
.dropdown{
    background-color: #e6deb9 !important;
    width: 17em;
    height: 2em;
    text-align: center;
    margin-top: 0.6em;
    margin-bottom: 1.3em;
}
.paragraphsPostavke{
    margin-top: 1.3em;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;          /* space between buttons */
    width: 30em;
    height: 5em;       /* gives vertical centering meaning */
}