body{
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(
        to right,
        rgb(229, 220, 136),
        #e6deb9,
        rgb(229, 220, 136)
        
    );
    min-height: 100vh;
    margin: 0;
}
.containerprijava{
    border-radius: 1em;
    width: 30em;
    height: 38em;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    line-height: 0.5em;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: #ffe79a !important;
}
.headerprijava{
    font-size: 3em;
    margin-top: 1.5em;
    text-align: center;
    border-radius: 20px;

}
.containerprijava p{
    font-size: 1.5em;
}
.signinbutton{
    margin-top: 1em;
    font-size:1.5em;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 2em;
    text-align: center;
    background-color: #ffa952;
    border-radius: 10px;
    border:1px solid black
}
.signinbutton:hover{
    background-color: #ef5a5a;
    cursor: pointer;
}
.podatci{
    width: 26em;
    height: 2em;
    margin-top: 1em;
    border-radius: 5px;
    border:1px solid black;
    background-color: #fde1c0;
}
.podatci:hover{
    border:2px solid #ef5a5a !important;
}
.submitbutton{
    margin-top: 1em;
    font-size:1.5em;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 2em;
    text-align: center;
    background-color: #ffa952 !important;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    border:1px solid black
}
.submitbutton:hover{
    cursor: pointer;
    background-color: #ef5a5a !important;
}
.googlebutton{
    margin-top: 0.8em;
    font-size:1.5em;
    align-items: center;
    justify-content: center;
    width: 15em;
    height: 2em;
    text-align: center;
    background-color: #ffa952;
    border-radius: 10px;
    border:1px solid black
}
.googlebutton:hover{
    background-color: #ef5a5a;
    cursor: pointer;
}
